@import 'bootstrap-sprockets';
@import 'bootstrap';

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: gray;
  background: linear-gradient(#aac18b, #607740);
}

.navbar {
  background: linear-gradient(#607740, #aac18b);
  border-color: #333f22;
}
